/*
    Use this stylesheet to modify the layout of your
    conference.

    Stylesheet for Indico GRCon21

    25 April 2021
    23 May 2021 - add confLogoBox

    Two color scheme
        GR orange:  rgb(255, 102, 0)
        light blue: rgb(192, 242, 255);
        Navy:       rgb(0, 0, 128)
        gray98:     rgb(250, 250, 250);
        gray90      rgb(229, 229, 229);

*/

.main {
  font-size: 12pt !important;
  color: black !important;
}

/* ----------- Styles for the conference header ----------- */

/*
The wrapper of the whole conference page.
*/
.conf {
  width: 100%;
  border: none;
  margin: auto;
}

/*
Wraps around the upper part of the conference header.
*/
.confTitleBox {
  color: white;
  min-height: 90px;
  border-top: 3px solid Navy;
  border-bottom: 1px solid Navy;
  background: #ff6600;  /* orange */
}

/*
Sets the width of the upper part of the conference header.
Is set to 950px and centered by default.
*/
.confTitle {
  width: 950px;
  margin: 0 auto;
  background: rgb(255, 102, 0);  /* GR orange */
}

/*
The box containing the logo. By the default the logo is placed
on the left of the conference title.
*/
.confLogoBox {
  float: left;
  padding: 0px 10px 20px 0px;
}

/*
Sets the size of the logo
*/
.confLogo {
  width: 50px !important;
  height: 50px !important;
}

/*
The style for the title text.
*/
.conference-title-link {
  font-size: 32pt;
  font-weight: bold;
  display: block;
  padding: 30px 0px 25px 0px;
  color: white;
  text-shadow: 2px 2px black;
}

/*
Wrapper around the bottom part of the conference header
*/
.confSubTitleBox {
  background: rgb(192, 242, 255);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-left: 230px;
}

/*
The content of the lower part of the header. Is by default
centered and has a fixed width.
*/
.confSubTitleContent {
  width: 950px;
  margin: 0 auto;
  font-size: 16pt !important;
  color: black;
}

/*
Styles for the date and place information.
*/
div.datePlace {
  font-size: 16pt !important;
  color: black !important;
}

.label {
  font-size: 16pt !important;
  color: black !important;
}

div.timezone {
  font-size: 16pt !important;
  color: black !important;
}

.action-box {
  font-size: 16pt !important;
  color: black !important;
  background: rgb(192, 242, 255) !important;
}

/* ----------- Styles for the main content ----------- */

/*
The wrapper around the menu and the page content.
By default centered with a fix width.
*/
#confSectionsBox {
  width: 950px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----------- Styles for the menu ----------- */

/* Styles for all menu Items */

/*
Wrapper around the menu
*/
.conf_leftMenu {
  float: left;
  width: 200px;
}

/*
Styles for the menu box
*/
#outer {
  border: 1px solid #ccc;
  background: rgb(250, 250, 250);
}

/*
The menu item
*/
#outer li a {
  font-family: verdana, arial, sans-serif;
  font-size: 12pt;
}

/*
The menu item when doing mouseover
*/
#outer li a:hover {
  background: rgb(229, 229, 229);
}

/*
A non selected menu item
*/
.menuConfTitle {
  text-align: left;
}

.menuConfTitle a {
  color: #275c86;
  padding: 7px 12px;
}

/*
A selected menu item
*/

.menuConfTitle.selected > a,
.menuConfMiddleCell.selected > a {
  color: black;
  background: rgb(229, 229, 229);
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
}

/*
sub menu item
*/
li ul.inner li a {
  padding: 3px 12px 3px 30px;
  background: transparent url(/images/conf/left_menu_bullet.png) scroll no-repeat 15px center;
}

/*
Support box
*/

.support_box {
  background: #f6f6f6;
  border: 1px solid #ccc;
}

.support_box > h3 {
  color: #f3f3f3;
  background: #1a64a0;
}

/* ----------- Styles for the page content ----------- */

/*
Wrapper around the content
*/
.confBodyBox {
  margin-left: 230px;
}

/* ----------- Styles for GRCon21 ----------- */

.u_cent {
  text-align: center;
  margin: 0px;
}

.u_table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.u_table2 {
  border: 1px white;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.u_tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.u_tdl {
  border: 1px white;
  width: 30%;
  border-collapse: collapse;
  padding: 15px;
}

.u_tdr {
  border: 1px white;
  width: 70%;
  border-collapse: collapse;
  padding: 15px;
}





